form {
    span {
        margin-left: 50px;
        margin-top: 20px;
        display: inline-block;
        font-size: 24px;
        border-bottom: 1px solid #00a4ef;
        padding-bottom: 2px;
    }
}